* {
	color: pink;
	font-color: black;
}

button {
	color: grey;
	font: 12px;
} 

body {
  background-color: #373431;
  color: #989390;
}


 h1 {
	margin-bottom: 20px;
	text-align: center;
	display: center;
}

#questionnaire {
	text-align: center;
	width: 75%;
	margin: 22% auto;
}

.right {
	color: green;
}

.wrong {
	color: red;
}

.questionWrap {
	text-align: left;
}

.btn-primary {
	border-color: black;
	background-color: grey;
	color: red;
}